body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

#header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

#container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-group {
  width: 80%;
  margin-bottom: 0.5rem;
}

.btn-group > button {
  font-size: 1rem;
  padding: 0.2rem 1rem;
  background-color: #fff;
}
.sort {
  border: 1px solid rgb(192, 136, 64);
  color: rgb(192, 136, 64);
}
.sort:hover {
  background-color: rgb(192, 136, 64);
  color: white;
  transition: all 0.2s ease-in-out 0.2s;
}
.new-book {
  border: 1px solid green;
  color: green;
}

.new-book:hover {
  background-color: green;
  color: white;
  transition: all 0.2s ease-in-out 0.2s;
}

.books-table {
  width: 80%;
  border-collapse: collapse;
}

th {
  background-color: cadetblue;
  color: white;
}

th,
td {
  border-bottom: 2px solid #ddd;
  padding: 18px;
  text-align: left;
}
td > button {
  font-size: 0.9rem;
  padding: 0.3rem 0.8rem;
  background-color: white;
  border: 1px solid tomato;
  color: tomato;
}
td > button:hover {
  background-color: tomato;
  color: white;
  transition: all 0.2s ease-in-out 0.2s;
}

#footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer a:hover {
  text-decoration: underline;
  color: red;
}
